@page "/Teachers"
@using EG.DemoPCBE99925.ManageCourse.Web.Pages.Teachers.Components;

@inject IStringLocalizer<Resources.TeacherPage> Localizer
@inject TeacherState state;
@implements IDisposable
@inject SwitchUserState userState;
@inject NavigationManager navigationManager

@inject NVOverlayService OverlayService;


<NVStack Vertical StackItemCenter Class="w-responsive-lg" Gutter="8" P="8" MY="5">
    <NVPanel Level="2">
        <NVBlock MY="2" TextColor="petrol-500" TextSize="h-sm">List of teachers</NVBlock>

        <NVStack>
        <NVStackItemLead>
                <NVButton Small Level="2" Color="secondary"
                @onclick="state.RefreshList"
                    LeadIcon="refresh"> Refresh </NVButton>
        </NVStackItemLead>
        <NVStackItemTail>
                <NVButton Small Color="secondary" @onclick="OpenForm" LeadIcon="plus"> New teacher </NVButton>
        </NVStackItemTail>
        </NVStack>
        <NVTable Responsive>
            <NVTableHead>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Hire date</th>
                <th>Salary</th>
                <th></th>
            </NVTableHead>
            <NVTableBody>
                @if (state.LoadingRefresh)
                {
                    <tr>
                        <td colspan="5">
                            <NVBlock class="align-center-c">
                                <NVLoader Size="lg" Color="secondary" Loading />
                            </NVBlock>
                        </td>
                    </tr>
                }
                else if(state.Teachers == null)
                {
                    <tr>
                        <td colspan="5">
                            <NVBlock class="align-center-c">
                                List is empty
                            </NVBlock>
                        </td>
                    </tr>
                }
                else
                {
                    @foreach(var teacher in state.Teachers)
                    {
                        <tr>
                            <td data-table-heading="Firstname">
                                @teacher.FirstName
                                </td>
                            <td data-table-heading="Lastname">
                                @teacher.LastName
                                </td>
                            <td data-table-heading="Hire date" class="text-gray-800">
                                @teacher.HireDate.ToString("dd MMM yyyy")
                            </td>
                            <td data-table-heading="Salary">
                                @teacher.Salary €
                            </td>
                            <td>
                                <NVButton XSmall Level="2" Color="primary" Icon="edit" MR="2" />
                                <NVButton XSmall Level="2" Color="error" Icon="x" MR="2" />
                                <NVButton XSmall Level="2" Color="secondary" Icon="eye" MR="2" />
                            </td>
                        </tr>
                    }
                }
            </NVTableBody>
        </NVTable>
    </NVPanel>
</NVStack>


@code {
    public override Task SetParametersAsync(ParameterView parameters)
    {
        if (userState.CurrentRole != Utils.Enums.UserTypeEnum.Teacher)
        {
            navigationManager.NavigateTo(userState.GetRoute(AppRouteEnum.Home));
        }
        return base.SetParametersAsync(parameters);
    }
    #region Listener state change


    protected override void OnInitialized()
    {
        base.OnInitialized();
        state.Mont(async () => await InvokeAsync(StateHasChanged));

        InitializeModal();
    }

    public void Dispose()
    {
        state.UnMont(async () => await InvokeAsync(StateHasChanged));
    }

    #endregion


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (!state.DataIsAlreadyInitialize)
        {
            await state.RefreshList();
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        // ensure that overlays exists before render overlays
        if (firstRender)
        {
            OverlayService.Render();
        }
    }


    #region Methods

    private void InitializeModal()
    {
        NVOverlayServiceConfig overlayConfig = new NVOverlayServiceConfig(NVOverlayServiceConfig.MODAL,
            "form-teacher",
        typeof(TeacherForm), new { MaxWidth = "30vw" });

        overlayConfig.AddAction("OnClose", CloseListener);
        OverlayService.Initialize(overlayConfig);
    }

    private void CloseListener(object data)
    {
        OverlayService.Hide("form-teacher");
    }

    private void OpenForm()
    {
        state.ResetForm();
        state.PersistChange = ManageCourseService.Facade.Sdk.PersistChange.Insert;
        OverlayService.Show("form-teacher");
    }
    #endregion

}
