<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
	<packageSources>
			<clear />
			<add key="elia.nuget" value="https://artifactstore.belgrid.net/nuget/Org/v3/index.json" protocolVersion="2" />
	</packageSources>
	<packageRestore>
		<!-- The 'automatic' key is set to True when the "Automatically check for missing packages during
			 build in Visual Studio" checkbox is set. Clearing the box sets this to False and disables
			 automatic restore. -->
		<add key="automatic" value="True" />
	</packageRestore>
</configuration>
